.border{
    border: 2px solid;
    margin: auto;
    width: 50%;
    height: auto;
    background-color: #ffffff;
}
.hide{
    display: none;
    color: red;
}
input[type=text], input[type=password], input[type=email] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
background-color: #ddd;
outline: none;
}
button {
background-color: #04AA6D;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}

button:hover {
opacity:1;
}
.hide{
    display: none;
    color: red;
}
.body{
    text-align: center;
    height: 100%;
    background:blueviolet;
}
#showhide{
    display: none;
}
table{
    margin:auto;
}
.padd{
    padding: 6px;
    background: red;
    color:white;
    display:flex;
}
.delete{
    margin-left:-11px;
    background-color:rosybrown;
    cursor: pointer;
}